# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

/FrontEnd/sistema-academico-web/node_modules/
/FrontEnd/sistema-academico-web/.angular/
/FrontEnd/sistema-academico-web/.vscode/
/FrontEnd/sistema-academico-web/.gitignore

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# CSharp
*.cache
*.editorconfig
*.targets
*.props
*.vsidx
*.bin
*.dll
*.json
*.exe
*.pdb
*.config
*.txt
*.Up2Date
*.pubxml
*.user
*.puml

/CSharp/SistemaAcademico/bin/
/CSharp/SistemaAcademico/obj/
/CSharp/SistemaAcademico/bin/Debug/net8.0/
/CSharp/SistemaAcademico/obj/Debug/net8.0/

/CSharp/SistemaAcademico/bin/Debug/net8.0/SistemaAcademico.dll/

[Bb]in/
[Oo]j/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

# Paquetes y dependencias
packages/
node_modules/
bower_components/

# Python

/Python/venv/
/Python/miproyecto/miproyecto/__pycache__/
/Python/miproyecto/GestionAlumnos/__pycache__/
/Python/miproyecto/GestionAlumnos/__pycache__/
/Python/miproyecto/db.sqlite3/

*.pyc

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
*db.sqlite3

 Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
Online.sln
